<div class="container">
  <h1>Become an AirBnB Host!</h1>
  <h3>
    <small class="text-muted">Step 1</small>
  </h3>
  <h3>What kind of place do you have?</h3>
  <form style="width: 50%">
    <div class="form-group">
      <select class="form-control">
        <option value="entire">Entire Place</option>
        <option value="private">Private Room</option>
        <option value="shared">Shared Room</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option value="1">for 1 guest</option>
        <option value="2">for 2 guests</option>
        <option value="3">for 3 guests</option>
        <option value="4">for 4 guests</option>
        <option value="5">for 5 guests</option>
        <option value="6">for 6 guests</option>
        <option value="7">for 7 guests</option>
        <option value="8">for 8 guests</option>
        <option value="9">for 9 guests</option>
        <option value="10">for 10 guests</option>
        <option value="11">for 11 guests</option>
        <option value="12">for 12 guests</option>
        <option value="13">for 13 guests</option>
        <option value="14">for 14 guests</option>
        <option value="15">for 15 guests</option>
        <option value="16">for 16 guests</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Chicago, IL, USA" class="form-control">
    </div>

    <input class="btn btn-default" type="submit" value="Next">

  </form>
</div>