
<div class = "container">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWV7-vUoEKBzioYvs4-EDWB5rt8QJhsiw&callback=initMap"
      async defer></script>
      <p>
          map works!
          api key = AIzaSyBWV7-vUoEKBzioYvs4-EDWB5rt8QJhsiw

          places key = AIzaSyDkj0U1YgeTSH76V1A7rY6da_h-u32Sqes
          
       
          
        </p>
    <!-- <div id="map"></div> -->
    <agm-map [latitude]="lat" [longitude]="lng">
        
         <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        
       </agm-map>
  </div>
 